# Exclure les dépendances et fichiers de cache
node_modules/
.next/
out/
dist/

# Exclure les fichiers trop volumineux et spécifiques à Next.js
frontend/frontend/node_modules/
frontend/node_modules/
frontend/frontend/node_modules/@next/swc-*/
frontend/frontend/node_modules/@next/swc-*/next-swc.darwin-arm64.node

# Exclure les fichiers générés par le système et les logs
.DS_Store
package-lock*.json
*.log
yarn.lock
pnpm-lock.yaml
